.app .cardView {
  margin-left: 10px;
  margin-right: 10px;
}
.app .cardView .timeBox {
  float: right;
  margin-top: 10px;
}
.app .cardView .deleteView {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.app .addButtonView {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
}
