.app {
  margin-bottom: 80px;
}
.app .topImg {
  width: 100%;
  height: 70vh;
}
.app .topImg swiper {
  height: 70vh;
}
.app .topImg image {
  width: 100%;
}
.app .searchView {
  padding-left: 1rem;
  padding-right: 1rem;
  transform: translateY(-50%);
  border-radius: 1rem;
}
.app .searchView .van-search {
  border-radius: 0.6rem;
}
.app .VerticalNav.nav {
  width: 200rpx;
  white-space: initial;
}
.app .VerticalNav.nav .cu-item {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 0;
  border: none;
  height: 50px;
  position: relative;
}
.app .VerticalNav.nav .cu-item.cur {
  background-color: #f1f1f1;
}
.app .VerticalNav.nav .cu-item.cur::after {
  content: "";
  width: 8rpx;
  height: 30rpx;
  border-radius: 10rpx 0 0 10rpx;
  position: absolute;
  background-color: currentColor;
  top: 0;
  right: 0rpx;
  bottom: 0;
  margin: auto;
}
.app .VerticalBox {
  display: flex;
}
.app .VerticalMain {
  background-color: #f1f1f1;
}
