.app {
    .currentDataView {
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;

        .lastTag {
            margin-bottom: 10px;
        }

        .dateView {
            padding-top: 3vh;

            .month {
                font-size: 20px;
                margin-left: 40px;
                transform: translateY(-100%);
            }

            .day {
                font-size: 40px;

                color: orange;
            }
        }

        .last {
            transform: translateY(-30%);

            .data {
                display: flex;
                justify-content: end;

                .bloodSugarLevel {
                    font-size: 30px;
                    // transform: translateY(-200%);
                    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
                }

                .unit {
                    padding-top: 40%;
                }
            }

            .tagView {
                display: flex;
            }
        }

        .noData {
            padding-top: 5vh;
        }
    }

    .cu-list {
        margin-left: 10px;
        margin-right: 10px;
    }




    text-red {
        color: red;
    }
}