@font-face {
  font-family: "iconfont"; /* Project id 3531035 */
  src: url('iconfont.woff2?t=1658153893037') format('woff2'),
       url('iconfont.woff?t=1658153893037') format('woff'),
       url('iconfont.ttf?t=1658153893037') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TKicon-Crutch:before {
  content: "\e632";
}

.TKicon-Contraceptive:before {
  content: "\e633";
}

.TKicon-Cough:before {
  content: "\e634";
}

.TKicon-Cut:before {
  content: "\e635";
}

.TKicon-Dentist:before {
  content: "\e636";
}

.TKicon-Death:before {
  content: "\e637";
}

.TKicon-Disabled:before {
  content: "\e638";
}

.TKicon-Drugs:before {
  content: "\e639";
}

.TKicon-ChemicalStructure:before {
  content: "\e63a";
}

.TKicon-Dna:before {
  content: "\e63b";
}

.TKicon-Dropper:before {
  content: "\e63c";
}

.TKicon-Doctor:before {
  content: "\e63d";
}

.TKicon-DoctorBag:before {
  content: "\e63e";
}

.TKicon-Emergency:before {
  content: "\e63f";
}

.TKicon-FemaleSign:before {
  content: "\e640";
}

.TKicon-Electrocardiography:before {
  content: "\e641";
}

.TKicon-Eyes:before {
  content: "\e642";
}

.TKicon-HealthDiagram:before {
  content: "\e643";
}

.TKicon-Flask:before {
  content: "\e644";
}

.TKicon-Expenses:before {
  content: "\e645";
}

.TKicon-HealthReport:before {
  content: "\e646";
}

.TKicon-HalfFullFlask:before {
  content: "\e647";
}

.TKicon-Health:before {
  content: "\e648";
}

.TKicon-HeartRate:before {
  content: "\e649";
}

.TKicon-HeartRateMonitor:before {
  content: "\e64a";
}

.TKicon-FirstAidKit:before {
  content: "\e64b";
}

.TKicon-HospitalCall:before {
  content: "\e64c";
}

.TKicon-HospitalSupplies:before {
  content: "\e64d";
}

.TKicon-Hospital:before {
  content: "\e64e";
}

.TKicon-Insurance:before {
  content: "\e64f";
}

.TKicon-Lace:before {
  content: "\e650";
}

.TKicon-MaleSign:before {
  content: "\e651";
}

.TKicon-Lungs:before {
  content: "\e652";
}

.TKicon-MedicalCase:before {
  content: "\e653";
}

.TKicon-Heart-Attack:before {
  content: "\e654";
}

.TKicon-MedicalAnnual:before {
  content: "\e655";
}

.TKicon-MedicalEbook:before {
  content: "\e656";
}

.TKicon-MedicalNotes:before {
  content: "\e657";
}

.TKicon-MedicalEquipment:before {
  content: "\e658";
}

.TKicon-MedicalResultsFolder:before {
  content: "\e659";
}

.TKicon-MedicalBook:before {
  content: "\e65a";
}

.TKicon-MedicalTag:before {
  content: "\e65b";
}

.TKicon-MedicinesBowl:before {
  content: "\e65c";
}

.TKicon-MedicalSign:before {
  content: "\e65d";
}

.TKicon-NameIcons-1:before {
  content: "\e65e";
}

.TKicon-Microscope:before {
  content: "\e65f";
}

.TKicon-NameIcons:before {
  content: "\e660";
}

.TKicon-NurseCap:before {
  content: "\e661";
}

.TKicon-PatientReports:before {
  content: "\e662";
}

.TKicon-Nurse:before {
  content: "\e663";
}

.TKicon-Pharmacy:before {
  content: "\e664";
}

.TKicon-Pill:before {
  content: "\e665";
}

.TKicon-Poison:before {
  content: "\e666";
}

.TKicon-PositiveVerified:before {
  content: "\e667";
}

.TKicon-Pills:before {
  content: "\e668";
}

.TKicon-PregnancyTest:before {
  content: "\e669";
}

.TKicon-Prescription:before {
  content: "\e66a";
}

.TKicon-Research:before {
  content: "\e66b";
}

.TKicon-PulseLine:before {
  content: "\e66c";
}

.TKicon-RollTissue:before {
  content: "\e66d";
}

.TKicon-Saline:before {
  content: "\e66e";
}

.TKicon-Rx:before {
  content: "\e66f";
}

.TKicon-Science:before {
  content: "\e670";
}

.TKicon-Scan:before {
  content: "\e671";
}

.TKicon-Sleep:before {
  content: "\e672";
}

.TKicon-Stethoscope:before {
  content: "\e673";
}

.TKicon-Sperm:before {
  content: "\e674";
}

.TKicon-Stress:before {
  content: "\e675";
}

.TKicon-Surgeon:before {
  content: "\e676";
}

.TKicon-SyringeWithMedicinef:before {
  content: "\e677";
}

.TKicon-Syringe:before {
  content: "\e678";
}

.TKicon-TestTootls:before {
  content: "\e679";
}

.TKicon-Tooth:before {
  content: "\e67a";
}

.TKicon-UnhealthyMedicalCondition:before {
  content: "\e67b";
}

.TKicon-Toothbrush:before {
  content: "\e67c";
}

.TKicon-Virus:before {
  content: "\e67d";
}

.TKicon-WaterGlass:before {
  content: "\e67e";
}

.TKicon-Weight:before {
  content: "\e67f";
}

.TKicon-XRayOfBones:before {
  content: "\e680";
}

.TKicon-chanke:before {
  content: "\e601";
}

.TKicon-gerenzhongxin-01:before {
  content: "\e602";
}

.TKicon-dianzibingli-01:before {
  content: "\e603";
}

.TKicon-funvbaojian:before {
  content: "\e604";
}

.TKicon-qianbao:before {
  content: "\e605";
}

.TKicon-chufang-01:before {
  content: "\e606";
}

.TKicon-huxizhuanke:before {
  content: "\e607";
}

.TKicon-fuke-01:before {
  content: "\e608";
}

.TKicon-putongwaike:before {
  content: "\e609";
}

.TKicon-wuliu:before {
  content: "\e60a";
}

.TKicon-shipin:before {
  content: "\e60b";
}

.TKicon-xiaohuazhuanke:before {
  content: "\e60c";
}

.TKicon-jizhen:before {
  content: "\e60d";
}

.TKicon-shouhuodizhi-01:before {
  content: "\e60e";
}

.TKicon-shezhi-01:before {
  content: "\e60f";
}

.TKicon-pifuke-01:before {
  content: "\e610";
}

.TKicon-menzhen-01:before {
  content: "\e611";
}

.TKicon-wenzhen-01:before {
  content: "\e612";
}

.TKicon-zaixianwenzhen-01:before {
  content: "\e613";
}

.TKicon-xinxieguanneike:before {
  content: "\e614";
}

.TKicon-zhongliuneike-01:before {
  content: "\e615";
}

.TKicon-zhongyike:before {
  content: "\e616";
}

.TKicon-wodejiuzhenren:before {
  content: "\e617";
}

.TKicon-fuke-011:before {
  content: "\e618";
}

.TKicon-xieyeneike:before {
  content: "\e619";
}

.TKicon-yisheng-01:before {
  content: "\e61a";
}

.TKicon-menzhen-01-copy:before {
  content: "\e61b";
}

.TKicon-jibingbaike:before {
  content: "\e61c";
}

.TKicon-dianzishebaoka:before {
  content: "\e61d";
}

.TKicon-jiankangceping:before {
  content: "\e61e";
}

.TKicon-jiankangzixun:before {
  content: "\e61f";
}

.TKicon-kouqiangjiankang:before {
  content: "\e620";
}

.TKicon-jianzhongguanjia:before {
  content: "\e621";
}

.TKicon-jingqizhushou:before {
  content: "\e622";
}

.TKicon-qiguanjuanxian:before {
  content: "\e623";
}

.TKicon-saomayanzhen:before {
  content: "\e624";
}

.TKicon-mingyizixun:before {
  content: "\e625";
}

.TKicon-jiankangbaoxian:before {
  content: "\e626";
}

.TKicon-xunxiqueyao:before {
  content: "\e627";
}

.TKicon-shuimianguanli:before {
  content: "\e628";
}

.TKicon-tijianyuyue:before {
  content: "\e629";
}

.TKicon-yinshibaike:before {
  content: "\e62a";
}

.TKicon-yuyueguahao:before {
  content: "\e62b";
}

.TKicon-yuerfuwu:before {
  content: "\e62c";
}

.TKicon-zhongzhengzhinan:before {
  content: "\e62d";
}

.TKicon-yimiaofuwu:before {
  content: "\e62e";
}

.TKicon-songyaoshangmen:before {
  content: "\e681";
}

