.app {
    margin-top: 11vh;

    .tabView {
        .foodView {
            .foodList {
                .foodCard {
                    margin-left: 10px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    .foodImg {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        image{
                            width:30vw
                        }
                    }

                    .foodDesc {
                        padding-left: 10px;
                        padding-top: 20px;
                        margin: 0 auto;
                        // display:flex ;
                    }
                }
            }
        }
    }
}